<table class="record-properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ cron.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ cron.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ cron.description }}</td>
        </tr>
        <tr>
            <th>Command</th>
            <td>{{ cron.command }}</td>
        </tr>
        <tr>
            <th>Lastrun</th>
            <td>{% if cron.lastRun %}{{ cron.lastRun|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Cron Expression</th>
            <td>{{ cron.cronExpression }}</td>
        </tr>
        <tr>
            <th>Active</th>
            <td>{% if cron.active == 1 %} Yes {% else %} No {% endif %}</td>
        </tr>
    </tbody>
</table>

<ul class="record-actions">
    <li>
        <a href="{{ path('tblcrontask') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tblcrontask_edit', { 'id': cron.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
